

/* 
    =============================
    GRUNNLEGGGENDE STIL (MOBIL)
    =============================
*/

img {
  max-width: 100%;
  height: auto;
}

body {
  position:relative;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  padding-bottom: 70px;
}



#grid-container {
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer";
}



/* Setter linear gradient bakgrunn for header: Den starter med ønskede
farge øverst og deretter blir den gjennomsiktig fra 40px og nedover (aka fjerner den)
- Dette er for at jeg skal få en fin bakgrunnsgradient på toppen:  */

header {
  grid-area:header;
  background: linear-gradient(to bottom, #5080AB 0%, #5080AB 40px, transparent 40px);
}




/* === LOGO  === */


.navbar { margin-top: 1.5rem;}


nav a {
color: #333;
font-size: 16px;
padding: 8px 12px;
text-decoration: none;
 
}


ul.navbar { 
border-top:#0e0e0e solid 1px;
padding: 20px;

}


nav a:hover {
color: #007BFF;
}

.sign-in-link
{
display: none;
}




/* Mer logo */

#logo {
  margin: 2rem;
  display: flex;
  padding: 3rem;
  padding-bottom: 2px;
  align-items: center;
  justify-content: center;

}


#logo img {
  margin: -1rem;
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12px; /* For å gi litt mellomrom mellom bildet og teksten */
}

.logo-text h2 {
  margin: 0;
  font-size: 30px;
}

.logo-text p {
  margin: 0;
  font-size: 14px;
  
}





/* Grunnstil for search-and-icons container */
.search-and-icons {
  display: flex;
  justify-content: space-between; /* Dette vil plassere innholdet i hver ende av beholderen */
  align-items: center;
  padding: 15px;
  margin: 1rem;
  font-size: 28px;

}




#cart, #flag, input[type="text"] {
  display: none;

}





/* Jeg la til "Home" i nav elementet - men velger å fjerne det
på mobil ved hjelp av media query: */

@media (max-width: 768px) {
  .navbar li:first-child {      /*Velger det første <li> elementet innenfor .navbar */
      display: none;
  }
}




/* Stil for mobile bottom bar */

.mobile-bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #D9D9D9;
  padding: 15px 0;
}



.mobile-bottom-bar a {
  color: #0e0e0e;
  font-size: 24px; /* Økte skriftstørrelsen for å forstørre ikonene */
  text-decoration: none;
  transition: transform 0.5s, color 0.3s, border 0.3s; /* Glatt overgang ved hover */
}

/* Hover effekt for mobile bottom bar */
.mobile-bottom-bar a:hover {
  color: #1e596677;


}

/* Viser bottom bar kun på små skjermer */
@media (max-width: 768px) {
  .mobile-bottom-bar {
      display: flex;
      justify-content: space-around;
  }
}








/* === FOOTER === */


/* Grunnstil for alle skjermstørrelser */
footer{
  grid-area: footer;
  margin-top: 4rem;
  display: flex;
  flex-direction: column; /* Endret til kolonne-retning for mobilvisning */
  align-items: center;
  text-align: center;
  background-color: #484646;
  color: #fff;
}



footer a{
color: #fff;
font-weight: bold;
text-decoration: none;
margin-bottom: 10px;
font-size: 15px;
margin: 10px;
}

footer ul {
list-style: none;
padding: 0;

}



footer section {
flex: 1; /* Dette gjør at hver seksjon tar lik bredde på store skjermer */
display: flex;
flex-direction: column;
align-items: center;
margin: 0;
text-align: center;
width: 100%;
}


/* === NAVIGASJON === */

.navbar {
display: flex;
justify-content: center; /* center the navigation links */
gap: 10px; /* spacing between the links */
list-style: none;
text-decoration-line: none;
}






/* 
    =============================
     STILER FOR INDEX.HTML
    =============================
*/


/* === Bilder for nettsiden === */

main {
grid-area: main;
padding:1.5rem;

}

/* Featured Brand */

.favorite-brand {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 20px 0;
}

.favorite-brand article {
    position: relative;
}

.favorite-brand p {

  font-weight: bold;


}

.brand-info {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color:#f4f4f4;  /* Semi-transparent white background */
    padding: 10px;
    text-align: center;
    margin-block: -8.5px;
    width: 70%;

}



/* New Arrivals */

/* Setter grunnstilen for containeren med "NEW ARRIVALS". */

.new-arrivals {
  grid-area: main;
  border-top: #0e0e0e61 solid 1px;
  margin-top: 100px;
}

.new-arrivals a {
  text-decoration: none; /* Fjern understrekning */
  color:black;
}

.new-arrivals h2 {
  text-align: center; /* Sentrer overskriften */
}




/* === NAVIGASJON === */

.navbar {
  display: flex;
  justify-content: center; /* center the navigation links */
  gap: 10px; /* spacing between the links */
  list-style: none;
  text-decoration-line: none;
}





/* 
    =======================
    DESKTOP STIL
    =======================
*/

@media screen and (min-width: 768px) {
  /* Endrer grid-malen for bredere skjermer */
  #grid-container {
      grid-template-areas: "header header header" "main main main" "footer footer footer";
  }


/* Gjør søkefelt, ikon og flagg synlig på desktop versjonen*/
#cart, #flag, input[type="text"] {
  display: inline-flex;
}



#flag, #cart { 
  font-size: 27px; /* Increase the icon size */
  margin-right: 1rem;
}



  .right-icons-flag-cart {
    display: flex;
    justify-content: flex-end; /* Plasser innholdet helt til høyre */
    align-items: center; /* Sentrer innholdet vertikalt */
    flex: 1; /* La innholdet ta opp all tilgjengelig plass i header */
}


.right-icons-flag-cart i {
  margin-left: 10px; /* Legg til ønsket margen mellom ikonene */
}



/* Justerer på søkefeltet */
input[type="text"] {
  font-size: 18px;
  margin-right: 80%;
}



.search-and-icons {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px;
  margin: 1rem;

}

  /* Fjerner sign in linken på mobil */
  .sign-in-link {
      display: block;
      position: absolute;
      color: black;
      top: 10px;
      right: 20px;
      padding: 5px 15px;
      border-radius: 4px;
      text-decoration: none;
      font-weight: bold;
  }

  /* Fjerner bjellen, søkeikon og hamburgermeny fra desktop versjon*/
  #bell, #search, #ham {
    display: none;
  }

  /* Fjerner mobile bottom bar på pc */
  .mobile-bottom-bar {
    display: none;
  }

  nav input[type="text"] {
    margin-left: auto;
  }

  .brand-card {
    width: auto;
    justify-content: center;
    height: 600px;
    margin: 20px auto;
  }

  .brand-info {
    padding: 15px;
    font-size: 20px;
  }

  .brand-info p {
    font-size: 24px;
  }

  .shop-now {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
  }
 
  
  
  .new-arrivals {
    display: grid;
    gap: 20px; /* Legg til mellomrom mellom bildene */
    align-items: center;
    text-align: center;
    padding: 0 1.5rem; /* Legg til litt padding for å begrense bredden av kolonnene */
  }

  /* Stil for .new-arrivals h2 (overskriften) */
  .new-arrivals h2 {
    grid-column: span 3; /* Bruk 3 kolonner for overskriften */
    text-align: center; /* Sentrer teksten */
    margin-bottom: 20px; /* Legg til litt avstand mellom overskriften og bildene */
  }
  
  .new-arrivals img {
      width: 400px;
      height: 360px;
  
  }
   

  footer {
      flex-direction: row; /* Endre til rad-retning for desktop-visning */
      justify-content: space-between; /* Dette vil oppnå tre kolonner på desktop */
      width: 100%;
}

}

/* 
    =============================
    STILER FOR PRODUKT.HTML
    =============================
*/

#arrow-back {

  font-size:30px;
}



/* 
Silendringer basert på inspirasjon fra artikkelen "How to Implement a Load More Button with Vanilla JavaScript"
Kilde: https://webdesign.tutsplus.com/how-to-implement-a-load-more-button-with-vanilla-javascript--cms-42080
*/


.products {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}


/* Stil for hvert enkelt produkt */
.product-item {
  border: 1px solid #e0e0e0;
  padding: 1rem;
  transition: all 200ms ease-in-out;
}


/* Hover-effekt for å gjøre den mer livlig */
.product-item:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


/* Justering av størrelse */
.product-image {
  max-width: 100%;
  height: auto;
  margin: 2px;
}


/* Stil for "LOAD MORE" */
#load-more {
  width: calc(33.33% - 1rem);
  padding: 16px;
  background-color: white;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  border-radius: 3px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  margin: 1rem auto;
  display: block;
}


#load-more:not([disabled]):hover {
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
}

#load-more[disabled] {
  background-color: #eaeaea;
}

.product-item a {
  text-decoration: none;
  color: black;
}





/* 
    =============================
    DESKTOP STILER FOR PRODUKT.HTML
    =============================
*/
/* DESKTOP STILER FOR PRODUKT.HTML */
@media screen and (min-width: 768px) {
  #grid-container {
    grid-template-areas: "header header header" "main main main" "footer footer footer";
  }

  #arrow-back {
    display: none;
  }


  #filter {
    font-size: 27px;
    margin-left: 10px;
  }


/* Produktet */

.products {
  grid-area: main;
  display: grid;
  gap: 20px;
  align-items: center;
  text-align: center;
}


.products h2, p{
  grid-column: span 3;
  text-align: center;
  margin-bottom: 3rem;
}

.search-and-icons {
    display: flex;
    align-items: center;
}


  .search-and-icons {
    display: flex;
    align-items: center;
  }

 
}

.thumbnail-images{
  display: none;
}






/* 
    =============================
    STILER FOR PRODUKTDETALJ.HTML
    =============================
*/
/* Media query targeting desktop-sized viewports */
@media screen and (min-width: 768px) {
  .image-column {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
  }

  .thumbnail-images {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-right: 20px;
  }

  .main-image-container {
      position: relative;
  }

  .image-navigation {
      position: absolute;
      bottom: 10px;
      right: 10px;
      background-color: rgba(255,255,255,0.7);
      padding: 5px 10px;
  }

  .product-details {
    display: flex;   /* Gjør denne til en flex container */
    justify-content: space-between;  /* Fordeler kolonnene med plass imellom */
}

/* Hvis du vil at kolonnene skal ha litt avstand mellom dem */
.image-column, .info-column {
    margin: 0 15px;  /* Legger til 15px margin på hver side av kolonnene */
}




#cart-product{

  display:none;
}


.image-navigation {

  display:none;
}

}
